.header[b-voxgjw91i9] {
    position: fixed;
    top: 0;
    display: flex;
    background-color: #212A3E;
    width: 100%;
    height: 60px;
    padding: 5px 20px 5px 20px;
    z-index: 9999;
}
.header .navigation[b-voxgjw91i9]{
    display:flex;
    margin-left: auto;
    width: auto;
    justify-content: end;
    align-items: center;
    gap: 10px;
}
.header .logo[b-voxgjw91i9] {
    height: auto;
    width: 100px;
    background-image: url("../Images/Fiverr.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.header-space[b-voxgjw91i9]{
    display: flex;
    min-height: 60px;
    width: auto;
}
.header a[b-voxgjw91i9] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;

    text-decoration: none;
    text-align: center;
    color: white;

    padding: 5px 15px 5px 15px;
    border-radius: 4px;
}
.header .header-register[b-voxgjw91i9]{
    outline-style: solid;
    outline-color: white;
    outline-width: 2px;
    transition: background-color, color  0.2s;
}
.header .header-register:hover[b-voxgjw91i9]{
     background-color: white;
     color: black;
}
    .header .header-register:active[b-voxgjw91i9] {
        background-color: white;
        color: black;
    }