<div class="header">

    <a class="logo" href="/"></a>

    <div class="navigation">
        <a href="/">
            Home
        </a>
        <a href="/">
            Sign in
        </a>
        <a href="/" class="header-register">
            Register
        </a>
    </div>
 
</div>
<div class="header-space"></div>
