@page "/"


<PageTitle>Index</PageTitle>

<h1>Market PLace</h1>

<a href ="/user">user</a>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<<<<<<< HEAD
=======
@code {

    
}
>>>>>>> cec3e3e279b7d4ded209e4c617cbb66f1342ac1a
